.body-container{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-image: url("/resources/assets/home/others/wizard-profile.png");
}
.login-module{
    margin-top: 20;
    margin-left: 25%;
    width: 50%;
    background-color: #ffffff;
    height: 58%;
}
.wizard-title{
    margin-top: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
   font-style: italic;
    font-min-size: 20px;
    font-max-size: 36px;
    font-weight: bold;
    color: #2C8DFB;
    text-align: center;
}
.wizard-title:hover{
    text-shadow: 3px 2px 0 #D2D2D2, 5px 5px 0 #eee;
}
.remembeMe label{
    float: right!important;
    margin-top: 15px;
}
.others-operator{
    margin-top: 17px;
    margin-left: 18px;
}
.phone a ,.forget a{
    float: right!important;
    color: #2C8DFB;
    text-decoration: none!important;
    margin-top: 3px;
}
.register a ,.register i{
    color: #2C8DFB;
    text-decoration: none!important;
}
.phone:hover{
    color: #2C8DFB;
}
.operator-option{
    margin-top: 20px;
}
.account-label , .password-label , .code-label{
    font-size: 16px;
    font-style: normal;
    font-weight: lighter;
    position: relative;
    right: 8px;
}
.password-tip i{
    position: relative;
    bottom: 25px;
    z-index: 2;
    right: 6px;
    float: right;
    cursor: pointer;
}